body,a, li, ul {
  list-style-type: none;
  line-height: 1;
}

.show-page {
  margin-top: 15px;
}

.small-pic {
  margin-top: 15px;
}

.big-pic {
  padding-right: 0px !important;
}

.monkey-description {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.monkey-description ul {
  padding-top: 0px;
  padding-left: 0px;
}

.monkey-name {
  font-size: 60px;
  font-weight: bolder;
  padding-top: 0;
  color: #aa2b1d;
}

.monkey-species {
  color: #cc561e;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}

.monkey-address {
color: #beca5c;
font-weight: bold;
font-size: 30px;
}

.monkey-text {
  color: #ef8d32;
  font-weight: bold;
  font-size: 30px;
}

.monkey-city {
  color: #beca5c;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 0px;
}

.button1 {
  display: flex;
  // display: row;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 250px;
}

// .monkey-description {
//   padding-left: 12px !important;
// }
// .col-sm-5.monkey-description {
//   padding-left: 12px !important;
// }

.col-sm-8 {
  padding-right: 0px !important;
}

.rescue-button {
  margin-top: 10px;
  padding-left: 10px;
}

.form-control-show {
height: 35px;
width: 120px;
text-align: center;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-left: 0px;
  justify-content: flex-start;
  gap: 30px;
  width: 1200px;
  overflow: scroll;
}

.pic-main {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-1{
  width: 24%;
  background-image: asset-url('Monkey-pics/monkey-fam.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.img-2{
  width: 24%;
  background-image: asset-url('Monkey-pics/monkey-hi.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.img-3{
  width: 24%;
  background-image: asset-url('Monkey-pics/monkey-sad.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}
.img-4{
  width: 24%;
  background-image: asset-url('Monkey-pics/monkey-mirror.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.carousel-pic {
  height: 50vh !important;
}

.simple_form.new_getaway {
  padding-top: 28px;
}
