<% if monkey.photos.first %>
  <%= cl_image_tag monkey.photos.first.key, height: 168, width: 300, crop: :scale %>
<% end %>
<h2><%= monkey.name %></h2>
<p><%= monkey.address %></p>
<%= link_to "Show Me Monkey", monkey_path(monkey), class: "btn btn-primary" %>

