<div class="container">
  <% @getaways.each do |getaway| %>
  <div class="monkey-card">
    <img class="getaway-monkey-image" src="https://images.unsplash.com/photo-1540573133985-87b6da6d54a9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1510&q=80" alt="">
    <div class="getaway-content">
      <p>Name: <%= getaway.monkey.name  %></p>
    </div>
  </div>
   <% end %>
</div>
