.monkey-card {
  display: flex;
  border: 1px solid black;
  height: 250px;
  background-color: white;
  margin: 1em;
}

.getaway-monkey-image {
  height: 250px;
  margin: 0px;
  padding: 0px;
}

.getaway-content {
  height: 100%;
}