.navbar {
  color: rgb(41, 41, 41);
  background-color: #aa2b1d;
  display: flex;
  justify-content: space-between;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  border-radius: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #7979797e, 5px 5px 15px 5px rgba(0,0,0,0);
}

.navbar p,
.nav-link {
  margin-bottom: 0;
  color: #ef8d32;
}
.navbar p:hover,
.nav-link:hover,
.nav-item img {
  color: rgb(41, 41, 41);
  cursor: pointer;
}

.navbar-nav {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding-left: 19px;
}

.logo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-heart {
  font-size: 35px;
}

.logo-banner h5 {
  margin-bottom: 0;
  font-size: 12px;
}

.logo-banner {
  margin-bottom: 0;
  color: #ef8d32;
}
.logo-banner:hover {
  color: rgb(41, 41, 41);
  cursor: pointer;
}

@media (max-width: 576px) {
  .navbar p { display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

.dropdown-menu {
  position: absolute !important;
  right: -5px !important;
  left: unset !important;
  padding: 0;
  border: unset !important;
  background-color: rgba(255, 255, 255, 0.932);
  text-align: right;
}

.dropdown-item {
  color: #242424c0;
}
